.mh-gallery {
    &__acceptor {
        background: #2d3436;
        border-radius: 3px;
        color: #fff;
        font-family: sans-serif;
        font-size: 16px;
        height: 48px;
        margin-bottom: 20px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        user-select: none;
    }

    &__items {
        border: 1px solid green;
        margin-top: 32px;
    }
}

.mh-gallery-item {
    border: 1px solid red;
}