@import "acceptor";

* {
    box-sizing: border-box;
}

.mh-file-field {
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 480px;
    position: relative;

    &--file {
        height: 48px;
    }

    &--image {
        &::before {
            content: '';
            display: block;
            padding-top: 56.25%;
            width: 100%;
        }
    }
}