
.mh-acceptor {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        background: #353b48;
    }

    &__drop-zone {
        background: #353b48;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        &::before {
            background-image: url('#{$mh_assets_image_path}drop.svg');
        }
    }

    &__faceplate {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
            background-image: url('#{$mh_assets_image_path}file.svg');
        }
    }

    &__input {
        cursor: pointer;
        font-size: 999px;
        opacity: 0;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &--file-inbound {
        .mh-acceptor__drop-zone {
            opacity: 1;
            z-index: 2;
        }
    }

    &--disabled {
        opacity: 0.5;

        .mh-acceptor {
            &__input {
                cursor: not-allowed;
                pointer-events: none;
                z-index: 1;
            }
        }
    }

    .mh-file-field--file & {
        &__drop-zone,
        &__faceplate {
            align-items: center;
            display: flex;
            justify-content: center;

            &::before {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                content: '';
                display: block;
                height: 24px;
                margin-right: 8px;
                width: 16px;
            }
        }

        &__drop-zone::before {
            animation-name: mh-file-bounce;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;

            @keyframes mh-file-bounce {
                0% {
                    background-position: center 0px;
                }

                50% {
                    background-position: center 4px;
                }

                100% {
                    background-position: center 0px;
                }
            }
        }
    }

    .mh-file-field--image & {

        &__drop-zone,
        &__faceplate {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &::before {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 32px;
                content: '';
                display: block;
                height: 48px;
                width: 32px;
            }
        }

        &__drop-zone::before {
            animation-name: image-bounce;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;

            @keyframes image-bounce {
                0% {
                    background-position: center 0px;
                }

                50% {
                    background-position: center 8px;
                }

                100% {
                    background-position: center 0px;
                }
            }
        }
    }

    .mh-gallery__acceptor & {
        &__drop-zone,
        &__faceplate {
            align-items: center;
            display: flex;
            justify-content: center;

            &::before {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                content: '';
                display: block;
                height: 24px;
                margin-right: 8px;
                width: 16px;
            }
        }

        &__drop-zone::before {
            animation-name: mh-file-bounce;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;

            @keyframes mh-file-bounce {
                0% {
                    background-position: center 0px;
                }

                50% {
                    background-position: center 4px;
                }

                100% {
                    background-position: center 0px;
                }
            }
        }
    }
}