.mh-file-error {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;

    .mh-file-field & {

        &:hover {
            .mh-file-error__message {
                opacity: 1;
            }

            &::before {
                box-shadow: 0 0 0 1px #fff;
            }
        }

        &::before {
            background:
                #eb4d4b
                url('#{$mh_assets_image_path}cancel.svg')
                center center
                no-repeat;
            background-size: 16px;
            border-radius: 50%;
            content: '';
            cursor: help;
            display: block;
            height: 24px;
            right: 12px;
            position: absolute;
            top: 12px;
            width: 24px;
            z-index: 1;
        }

        &__clear {
            display: none;
        }

        &__message {
            background: #eb4d4b;
            left: 0;
            top: 0;
            height: 48px;
            line-height: 48px;
            opacity: 0;
            overflow: hidden;
            padding: 0 40px 0 8px;
            pointer-events: none;
            position: absolute;
            right: 0;
            text-overflow: ellipsis;
            white-space: nowrap;

            transition: opacity 0.2s linear;
        }
    }

    .mh-gallery-item & {
        background: #eb4d4b;
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;

        &::before {
            background:
                transparent
                url('#{$mh_assets_image_path}warning.svg')
                center center
                no-repeat;
            background-size: 32px;
            content: '';
            display: block;
            height: 32px;
            margin: 0 auto;
            width: 32px;
        }

        &__clear {
            background-image: url('#{$mh_assets_image_path}cancel.svg');
            background-position: right 8px top 8px;
            background-repeat: no-repeat;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            &:active {
                background-position: right 9px top 9px;
                background-size: 14px;
            }
        }

        &__message {
            background: #eb4d4b;
            padding: 8px;
        }

    }
}