.mh-overlay {
    background: rgba(30, 39, 46, 0.99);
    background-image: radial-gradient(
        ellipse at center,
        rgba(199, 236, 238, 0.15) 0,
        rgba(199, 236, 238, 0) 80%
    );
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    &__close {
        background:
            transparent
            url('#{$mh_assets_image_path}cancel.svg')
            center center
            no-repeat;
        background-size: 32px;
        cursor: pointer;
        height: 32px;
        opacity: 0.1;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;

        transition:
            background-size 0.1s linear,
            opacity 0.1s linear;

        &:active {
            background-size: 28px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__content {
        bottom: 128px;
        left: 96px;
        position: absolute;
        right: 96px;
        top: 32px;

        border: 1px solid red;
    }

    &__buttons {
        bottom: 32px;
        height: 64px;
        left: 96px;
        position: absolute;
        right: 96px;

        border: 1px solid red;
    }
}