
.mh-file-viewer {
    background: #353b48;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &__filename {
        display: block;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__file-size {
        display: block;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 112px;
    }

    .mh-file-field--file & {

        &__info {
            align-items: center;
            display: flex;
            justify-content: left;
        }

        &__filename {
            line-height: 48px;
            max-width: calc(100% - 240px);
            padding-left: 8px;
        }

        &__file-size {
            margin-left: 8px;
        }

        &__buttons {
            right: 8px;
            top: 8px;
        }
    }

    .mh-gallery--file & {

        &__info {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 8px;
            text-align: center;

            &::before {
                background:
                    transparent
                    url('#{$mh_assets_image_path}file.svg')
                    center center
                    no-repeat;
                background-size: 32px;
                content: '';
                display: block;
                height: 32px;
                margin: 0 auto;
                width: 32px;
            }
        }

        &__filename {
            line-height: 24px;
            max-width: 100%;
            margin-top: 8px;
        }

        &__file-size {
            line-height: 24px;
        }

        &__buttons {
            bottom: 8px;
            left: calc(50% - 56px);
        }
    }

    &__download {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}drop.svg');
    }

    &__metadata {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}metadata.svg');
    }

    &__remove {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}remove.svg');
    }
}

.mh-image-viewer {
    background:
        transparent
        url('#{$mh_assets_image_path}checkers.svg')
        top left
        repeat;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &__buttons {
        bottom: 8px;
        display: flex;
        justify-content: space-between;
        left: calc(50% - 76px);
        position: absolute;
        width: 152px;
    }

    &__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__download {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}drop.svg');
    }

    &__edit {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}edit.svg');
    }

    &__metadata {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}metadata.svg');
    }

    &__remove {
        @extend %icon-btn;

        background-image: url('#{$mh_assets_image_path}remove.svg');
    }
}