.mh-assets-view {
    border: 1px solid #d4dce0;
    border-radius: 3px;
    color: #666;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;

    // Layouts based on asset type
    &--image {

        .mh-assets-view {
            &__icon {
                display: none;
            }

            &__actions {
                right: 0;
                bottom: 26px;
            }
        }
    }

    &--file {
        height: 60px;

        .mh-assets-view {
            &__thumb {
                display: none;
            }

            &__content {
                height: 58px;
                left: 0;
                position: absolute;
                top: 0;
                width: 58px;
            }

            &__info {
                left: 58px;
                position: absolute;
                top: 0;
                width: calc(100% - 86px);
            }

            &__actions {
                right: 0;
                top: 0;
            }
        }
    }

    &__icon {
        background: transparent
            url('../images/generic-asset-icon.svg')
            center / auto 50px
            no-repeat;
        height: 58px;
        width: 58px;
    }

    &__thumb {
        background-color: #eee;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: 1px solid #d4dce0;
        height: 160px;
        width: 100%;
    }

    &__info {
        padding: 10px;
    }

    &__filename {
        font-size: 16px;
        line-height: 18px;
    }

    &__file-size {
        font-size: 14px;
        line-height: 16px;
    }

    &__actions {
        cursor: pointer;
        height: 28px;
        overflow: hidden;
        position: absolute;
        padding-top: 28px;
        width: 28px;

        &:after {
            background: #fff
                url('../images/actions.svg')
                center / auto 28px
                no-repeat;
            content: '';
            display: 'block';
            height: 28px;
            left: 0;
            position: absolute;
            top: 0;
            width: 28px;
        }

        &:hover {
            overflow: visible;

            &:after {
                background-color: #eee;
            }
        }
    }

    &__action {
        background: #fff;
        border-left: 1px solid #d4dce0;
        border-right: 1px solid #d4dce0;
        color: #666;
        display: block;
        font-size: 12px;
        height: 28px;
        line-height: 28px;
        margin-left: -34px;
        padding: 0 5px;
        right: 0;
        text-align: center;
        text-decoration: none;
        width: 100px;

        &:hover {
            background: #eee;
        }

        &:first-child {
            border-radius: 3px 3px 0 0;
            border-top: 1px solid #d4dce0;
        }

        &:last-child {
            border-bottom: 1px solid #d4dce0;
            border-radius: 0 0 3px 3px;
        }
    }
}