.mh-uploader__cancel, .mh-file-viewer__download, .mh-file-viewer__props, .mh-file-viewer__remove, .mh-image-viewer__download, .mh-image-viewer__edit, .mh-image-viewer__props, .mh-image-viewer__remove {
  background-color: rgba(0, 0, 0, 0.25);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  z-index: 2; }
  .mh-uploader__cancel:active, .mh-file-viewer__download:active, .mh-file-viewer__props:active, .mh-file-viewer__remove:active, .mh-image-viewer__download:active, .mh-image-viewer__edit:active, .mh-image-viewer__props:active, .mh-image-viewer__remove:active {
    background-size: 14px; }
  .mh-uploader__cancel:hover, .mh-file-viewer__download:hover, .mh-file-viewer__props:hover, .mh-file-viewer__remove:hover, .mh-image-viewer__download:hover, .mh-image-viewer__edit:hover, .mh-image-viewer__props:hover, .mh-image-viewer__remove:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.mh-acceptor {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-acceptor:hover {
    background: #353b48; }
  .mh-acceptor__drop-zone {
    background: #353b48;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
    .mh-acceptor__drop-zone::before {
      background-image: url("../images/drop.svg"); }
  .mh-acceptor__faceplate {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .mh-acceptor__faceplate::before {
      background-image: url("../images/file.svg"); }
  .mh-acceptor__input {
    cursor: pointer;
    font-size: 999px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .mh-acceptor--file-inbound .mh-acceptor__drop-zone {
    opacity: 1;
    z-index: 2; }
  .mh-file-field--file .mh-acceptor__drop-zone, .mh-file-field--file .mh-acceptor__faceplate {
    align-items: center;
    display: flex;
    justify-content: center; }
    .mh-file-field--file .mh-acceptor__drop-zone::before, .mh-file-field--file .mh-acceptor__faceplate::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 24px;
      margin-right: 8px;
      width: 16px; }
  .mh-file-field--file .mh-acceptor__drop-zone::before {
    animation-name: file-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }

@keyframes file-bounce {
  0% {
    background-position: center 0px; }
  50% {
    background-position: center 4px; }
  100% {
    background-position: center 0px; } }
  .mh-file-field--image .mh-acceptor__drop-zone, .mh-file-field--image .mh-acceptor__faceplate {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mh-file-field--image .mh-acceptor__drop-zone::before, .mh-file-field--image .mh-acceptor__faceplate::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 32px;
      content: '';
      display: block;
      height: 48px;
      width: 32px; }
  .mh-file-field--image .mh-acceptor__drop-zone::before {
    animation-name: image-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }

@keyframes image-bounce {
  0% {
    background-position: center 0px; }
  50% {
    background-position: center 8px; }
  100% {
    background-position: center 0px; } }

.mh-uploader {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-uploader__progress-meter {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0; }
  .mh-uploader__progress-bar {
    background: #0984e3;
    height: 100%;
    width: 0; }
  .mh-uploader__status {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .mh-uploader__status::before {
      background-image: url("../images/upload.svg"); }
  .mh-uploader__cancel {
    background-image: url("../images/cancel.svg");
    position: absolute;
    right: 8px;
    top: 8px; }
    .mh-uploader--finished .mh-uploader__cancel {
      display: none; }
  .mh-file-field--file .mh-uploader__progress-meter {
    top: 0; }
  .mh-file-field--file .mh-uploader__status {
    align-items: center;
    display: flex;
    justify-content: center; }
    .mh-file-field--file .mh-uploader__status::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 16px;
      margin-right: 8px;
      width: 16px; }
  .mh-file-field--image .mh-uploader__progress-meter {
    background: #353b48;
    height: 16px; }
  .mh-file-field--image .mh-uploader__status {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mh-file-field--image .mh-uploader__status::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 32px;
      content: '';
      display: block;
      height: 48px;
      width: 32px; }

.mh-file-viewer {
  background: #353b48;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-file-viewer__info {
    align-items: center;
    display: flex;
    justify-content: left; }
  .mh-file-viewer__filename {
    display: block;
    font-weight: bold;
    line-height: 48px;
    max-width: calc(100% - 240px);
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .mh-file-viewer__file-size {
    display: block;
    margin-left: 8px; }
  .mh-file-viewer__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 112px; }
  .mh-file-viewer__download {
    background-image: url("../images/drop.svg"); }
  .mh-file-viewer__props {
    background-image: url("../images/props.svg"); }
  .mh-file-viewer__remove {
    background-image: url("../images/remove.svg"); }

.mh-image-viewer {
  background: transparent url("../images/checkers.svg") top left repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-image-viewer__buttons {
    bottom: 8px;
    display: flex;
    justify-content: space-between;
    left: calc(50% - 76px);
    position: absolute;
    width: 152px; }
  .mh-image-viewer__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0; }
  .mh-image-viewer__download {
    background-image: url("../images/drop.svg"); }
  .mh-image-viewer__edit {
    background-image: url("../images/edit.svg"); }
  .mh-image-viewer__props {
    background-image: url("../images/props.svg"); }
  .mh-image-viewer__remove {
    background-image: url("../images/remove.svg"); }

* {
  box-sizing: border-box; }

.mh-file-field {
  background: #2d3436;
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 480px;
  overflow: hidden;
  position: relative;
  user-select: none; }
  .mh-file-field--file {
    height: 48px; }
  .mh-file-field--image::before {
    content: '';
    display: block;
    padding-top: 56.25%;
    width: 100%; }
