.mh-uploader__cancel {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  z-index: 2; }
  .mh-uploader__cancel:active {
    background-size: 95%; }
  .mh-uploader__cancel:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.mh-acceptor {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-acceptor:hover {
    background: #353b48; }
  .mh-acceptor__drop-zone {
    background: #353b48;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
    .mh-acceptor__drop-zone::before {
      background-image: url("../images/drop.svg"); }
  .mh-acceptor__faceplate {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .mh-acceptor__faceplate::before {
      background-image: url("../images/file.svg"); }
  .mh-acceptor__input {
    cursor: pointer;
    font-size: 999px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  .mh-acceptor--file-inbound .mh-acceptor__drop-zone {
    opacity: 1;
    z-index: 2; }
  .mh-file-field--file .mh-acceptor__drop-zone, .mh-file-field--file .mh-acceptor__faceplate {
    align-items: center;
    display: flex;
    justify-content: center; }
    .mh-file-field--file .mh-acceptor__drop-zone::before, .mh-file-field--file .mh-acceptor__faceplate::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 24px;
      margin-right: 8px;
      width: 16px; }
  .mh-file-field--file .mh-acceptor__drop-zone::before {
    animation-name: file-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }

@keyframes file-bounce {
  0% {
    background-position: center 0px; }
  50% {
    background-position: center 4px; }
  100% {
    background-position: center 0px; } }
  .mh-file-field--image .mh-acceptor__drop-zone, .mh-file-field--image .mh-acceptor__faceplate {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mh-file-field--image .mh-acceptor__drop-zone::before, .mh-file-field--image .mh-acceptor__faceplate::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 32px;
      content: '';
      display: block;
      height: 48px;
      width: 32px; }
  .mh-file-field--image .mh-acceptor__drop-zone::before {
    animation-name: image-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: infinite; }

@keyframes image-bounce {
  0% {
    background-position: center 0px; }
  50% {
    background-position: center 8px; }
  100% {
    background-position: center 0px; } }

.mh-uploader {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .mh-uploader__progress-meter {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0; }
  .mh-uploader__progress-bar {
    background: #0984e3;
    height: 100%;
    width: 0; }
  .mh-uploader__status {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
    .mh-uploader__status::before {
      background-image: url("../images/upload.svg"); }
  .mh-uploader__cancel {
    background-image: url("../images/cancel.svg");
    position: absolute;
    right: 8px;
    top: 8px; }
  .mh-file-field--file .mh-uploader__progress-meter {
    top: 0; }
  .mh-file-field--file .mh-uploader__status {
    align-items: center;
    display: flex;
    justify-content: center; }
    .mh-file-field--file .mh-uploader__status::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 16px;
      margin-right: 8px;
      width: 16px; }
  .mh-file-field--image .mh-uploader__progress-meter {
    background: #353b48;
    height: 16px; }
  .mh-file-field--image .mh-uploader__status {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mh-file-field--image .mh-uploader__status::before {
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 32px;
      content: '';
      display: block;
      height: 48px;
      width: 32px; }

* {
  box-sizing: border-box; }

.mh-file-field {
  background: #2d3436;
  border-radius: 3px;
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 480px;
  position: relative;
  user-select: none; }
  .mh-file-field--file {
    height: 48px; }
  .mh-file-field--image::before {
    content: '';
    display: block;
    padding-top: 56.25%;
    width: 100%; }
